

// =====================================
// Bruno Custom's
// =====================================
img{
	&.center{
		margin-right: auto;
		margin-left: auto;
	}
	&.header{
		height: 200px;
		margin: 25px auto;
		@media only screen and (max-width: 400px){
			height: 185px;
		}
		@media only screen and (min-width: 768px) {
			margin: 50px auto;
		}
	}
}

.project-footer{
    display: flex;
    justify-content: center;
    a {
    margin-top: 30px;
    }
}