 <!-- Projects -->
 {{include.limit}}
 <div class="container-fluid projects">
{% for project in site.data.projects limit:include.limit %}
{% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
      <div class="row">
  {% endif %}
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 project-col">
    <div class="hovereffect" onclick="location.href='{{project.link}}';"
    {% if project.bg-color %}
        style="background-color: {{project.bg-color}};"
    {% endif %}    
    >
    {% if project.image %}
        <img class="img-responsive" style="width: 100%" src="{{project.image}}" alt="">
    {% endif %}
    {% unless project.image %}
         <h3 style="color: {{project.text-color}}">{{project.title}}</h3>
    {% endunless %}    
        <div class="overlay">
           <h2>{{project.title}}</h2>
           <a class="info" href="#">saiba mais</a>
        </div>
    </div>
</div>

  {% if loopindex == 0 %}
      </div>
  {% endif %}
{% endfor %}
</div>

{% if include.limit %}
<span class="project-footer">
    <a href="/projects" class="btn btn-default">MAIS PROJETOS</a>
</span>
{% endif %}